<h1>club de fultbol para chicas</h1>
<h2>Todas las edades, horarios variados, entrenamiento personalizado</h2>
<h3>entrenamiento</h3>
<p>Una de las primeras tareas, con respecto al entrenamiento, es agrupar a las chicas basándose en el nivel en el que se han apuntado. Las jóvenes de 10 a 12 años son automáticamente asignadas al grupo de nivel principiante/intermedio. Las chicas de 12 a 18 pueden entrenar en el de principiante/intermedio, en el avanzado o en élite, según su propio nivel. Cuando llegan, su técnica es evaluada exhaustivamente para colocarlas en pequeños grupos de 15 con un nivel de juego similar.
Las chicas trabajan sus habilidades en la técnica y la táctica. Aprenden, también, la importancia de la fuerza mental mientras mejoran sus habilidades y alcanzan niveles de juego más avanzado. Las 17-21 horas está partidas en dos sesiones de entrenamiento y un taller o una lectura técnica al día. Las jugadoras de élite también trabajarán su condición física y acudirán juntas a sesiones en el gimnasio para mejorar su estado físico.
</p>
